<div class="slider-main" resize ng-style="style(offsetTop)"  >
  <div class="slider-image" ng-repeat="img in images"   ng-if="$index == show"
         ng-class="{'slider-right':!nextimg,'slider-left':nextimg}" >
        <div   class="slider-image-inner" ng-style="{'background-image':'url('+img.url+')'}"
           ng-class="{'show':$index==show}">
            <div class="text-area" ng-if="img.title || img.description">
            <div class="title" ng-if="img.title" ng-bind-html="img.title"></div>
            <div class="description" ng-if="img.description" ng-bind-html="img.description"></div>
            </div>
           </div>
   </div>
    <div class="ng-hide">
        <img ng-repeat="img in images" ng-src="{{ img.url }}" class="ng-hide" />
    </div>
    <div class="slider-controls">
        <button class="btn-prev" ng-show="count>0" ng-click="prev()">prev</button>
        <button class="btn-next" ng-show="count>0" ng-click="next()">next</button>
    </div>
</div>